<app-header [title]="'Bank erstellen'"></app-header>
<div class="content-wrapper">
  <h1>Bank creation component is under construction</h1>
  <div>
    <label>Gib den namen deiner PiggyBank ein</label>
    <input type="text" [(ngModel)]="bank.name">
  </div>
  <div>
    <label>Möchtest du dein PayPal Konto hinterlegen?</label>
    <input type="checkbox" [(ngModel)]="bank.paypal">
  </div>
  <div *ngIf="bank.paypal">
    <label>Bitte geb dein PayPal Konto an</label>
    <input type="text" [(ngModel)]="bank.paypal_account">
  </div>
  <button class="fab-bottom-right" (click)="save()">
    <i class="material-icons">save</i>
  </button>
</div>

<p>
  {{(store|async)?.bank|json}}
</p>
