<app-header [title]="'Deine Meinung ist wichtig!'"></app-header>
<div class="content-wrapper">
  <h1>Feedback Component is under construction</h1>
  <app-rating (rating)="onRatingChanged($event)"></app-rating>
  <div>
    <label for="txt-comment">Dein Feedback</label>
    <textarea id="txt-comment" [(ngModel)]="feedback.comment"></textarea>
  </div>
  <div>
    <button (click)="updateFeedback()">Send Feedback</button>
  </div>

  <div id="user-feedbacks">
    <div *ngFor="let feedback of feedBacks$|async">
      <img [src]="feedback.user.photoURL">
      <i class="material-icons" *ngFor="let star of generateRatings(feedback.rating)">star</i>
      <p>{{feedback.comment}}</p>
      <hr>
    </div>
  </div>

</div>

<p>
  {{(store|async)?.feedback.feedback|json}}
</p>
