<app-header [title]="'Deine Meinung ist wichtig!'"></app-header>
<div class="content-wrapper">
  <h1>Feedback Component is under construction</h1>
  <app-rating (rating)="onRatingChanged($event)"></app-rating>
  <div>
    <label for="txt-comment">Dein Feedback</label>
    <textarea id="txt-comment" [(ngModel)]="feedback.comment"></textarea>
  </div>
  <div>
    <button (click)="updateFeedback()">Send Feedback</button>
  </div>



  <p *ngIf="error$|async as error" class="error">
    <label [innerText]="error"></label>
  </p>

</div>

<p>
  {{(store|async)?.feedback.feedback|json}}
</p>
