<div class="header">
  <button *ngIf="!($user | async)" (click)="login()">Login</button>
  <div
    *ngIf="($user | async)"
    class="avatar"
    [style.backgroundImage]="'url(' + ($user | async)?.photoURL + ')'"
  ></div>
  <div *ngIf="($user | async)" class="name">
    {{ ($user | async) ? ($user | async).email : 'unknown' }}
  </div>
  <div *ngIf="($user | async)" class="controlls">
    <button (click)="preferences()">
      <i class="material-icons">settings</i>
    </button>
    <button (click)="sendFeedback()">
      <i class="material-icons">feedback</i>
    </button>
    <button (click)="logout()">
      <i class="material-icons">exit_to_app</i>
    </button>
  </div>
</div>
