<div class="header">
  <span>
    <button *ngIf="!($user|async)" (click)="login()">Login</button>
    <div *ngIf="($user|async)">
      <img alt="" [src]="($user|async)?.photoURL">
      <span>{{($user|async)?($user|async).email:'unknown'}}</span>
      <button (click)="preferences()">
        <i class="material-icons">settings</i>
      </button>
      <button (click)="sendFeedback()">
        <i class="material-icons">feedback</i>
      </button>
      <button (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </button>
    </div>
  </span>
</div>
