<app-header [title]="'Einzahlung/ Auszahlung'" [backFunction]="back"></app-header>
<div class="content-wrapper">

  <h1>Actions Component is under construction</h1>
  <input type="radio" checked="true" id="mc" name="Zahlmethode" value="Einzahlen" (change)="onSelectionChanged('deposit')">
  <label for="mc"> Einzahlen</label>
  <input type="radio" id="vi" name="Zahlmethode" value="Auszahlen" (change)="onSelectionChanged('payment')">
  <label for="vi"> Auszahlen</label>

  <div>
    <label id="lbl-amount" for="txt-amount">Betrag</label>
    <input id="txt-amount" type="number" [value]="action.amount" [(ngModel)]="action.amount">
  </div>

  <div>
    <label id="lbl-comment" for="txt-comment">Kommentar</label>
    <textarea id="txt-comment" rows="4" [(ngModel)]="action.comment"></textarea>
  </div>

  <p>
    {{action|json}}
  </p>
  <button class="fab-bottom-right" (click)="save()">
    <i class="material-icons">save</i>
  </button>
</div>
