<app-header></app-header>
<div>
  <h2 *ngIf="!(user$|async)">Please login to get access to your piggy banks</h2>
</div>

<div *ngIf="(user$|async)">
  <button (click)="createBank()"> neue Bankerstellen </button>
  <h1>Übersicht</h1>

  <p *ngIf="error$|async" class="error">
    <label [innerText]="error$|async"></label>
  </p>

  <div>
    <app-bank-list [title]="'Deine eigenen Piggy Banks'" [banks$]="myBanks$"></app-bank-list>
  </div>
  <div>
    <app-bank-list [title]="'Piggy Banks bei denen du Mitglied bist'" [banks$]="otherBanks$"></app-bank-list>
  </div>
</div>
