<app-header></app-header>
<div class="content-wrapper">
  <div>
    <h2 *ngIf="!(user$|async)">Please login to get access to your piggy banks</h2>
  </div>

  <span *ngIf="(user$|async)">
    <button class="fab-bottom-right" (click)="createBank()">
      <i class="material-icons">add</i>
    </button>
    <div>
      <h3 (click)="toggleMyBanks()">
        Deine eigenen Piggy Banks
        <i *ngIf="showMyBanks" class="material-icons">arrow_drop_up</i>
        <i *ngIf="!showMyBanks" class="material-icons">arrow_drop_down</i>
      </h3>
      <app-bank-list [banks$]="myBanks$" *ngIf="showMyBanks"></app-bank-list>
    </div>
    <div>
      <h3 (click)="toggleOthersBanks()">
        Piggy Banks Anderer
        <i *ngIf="showOthersBanks" class="material-icons">arrow_drop_up</i>
        <i *ngIf="!showOthersBanks" class="material-icons">arrow_drop_down</i>
      </h3>
      <app-bank-list [banks$]="otherBanks$" *ngIf="showOthersBanks"></app-bank-list>
    </div>
  </span>
</div>
