/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import url('./utils/normalize.scss');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.fab-bottom-right {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

button {
  cursor: pointer;
  padding: .5rem;
}

.content {
  width: 900px;
}

.content-wrapper {
  margin: calc(var(--header-size) + 0.5rem) 0;
}

.header {
  height: var(--header-size);
  background-color: var(--color-primary-background);
  border-bottom: thin solid #ccc;
  box-shadow: 0px 5px 5px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.error {
  background-color: red;
  color: white;
  padding: 0.5rem;
}
