<app-header [title]="'Bank Details'" [backFunction]="back"></app-header>
<div class="content-wrapper">

  <div>
    <img *ngIf="(currentBank$|async)?.photoURL" [src]="(currentBank$|async)?.photoURL" alt="no picture available">
    <label style="padding:0.5rem" [innerHTML]="(currentBank$|async)?.name"></label>
  </div>

  <div>
    <h2>Kontostand</h2>
    <h4>{{(currentBank$|async)?.balance | number: '1.2-2'}} €</h4>
  </div>

  <div>
    <h2>Mitglieder</h2>
    <span style="padding:0.5rem">
      <img *ngIf="(currentBank$|async)?.owner?.photoURL" style="border-radius:50%;box-shadow:0px 0px 4px 4px green"
        [src]="(currentBank$|async)?.owner.photoURL" alt="no picture available">
    </span>
    <span style="padding:0.5rem" *ngFor="let member of (currentBank$|async)?.members">
      <img [src]="member.photoURL" alt="no picture available" style="border-radius:50%;box-shadow:2px 2px 4px gray">
    </span>
  </div>

  <div>
    <h2>Vorgänge
      <button (click)="showHistory()" [disabled]="!(currentBank$|async)">
        <i class="material-icons">search</i>
      </button>
    </h2>
    <div *ngFor="let history of history$|async">
      <app-history [onlyBalanceChanges]="onlyBalanceChanges$|async" [history]="history"></app-history>
    </div>
  </div>

  <div class="fab-bottom-right">
    <button (click)="newAction()">
      <i class="material-icons">
        add
      </i>
    </button>
  </div>
</div>

<p *ngIf="!(currentBank$|async)">
  Loading ...
</p>

<p>
  {{(currentBank$ | async)| json}}
</p>
